@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="home">
    <div class="landing-text">
        <h1>WELCOME TO MIN'S WORLD!</h1>
        <h3>Learn more about Min Choi.</h3>
        <a href="#" class="btn btn-default btn-lg">Get Started</a>
    </div>
</div>
<div id="about" class="padding">
    <!--maynot be need-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/images/bootstrap.png" />
            </div>
            <div class="col-sm-6 text-center">
                <h2>ALL ABOUT USING BOOTSTRAP.</h2>
                <p class="lead "> BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLBLAHBLAH </p>
                <p class="lead"> BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLBLAHBLAH </p>
            </div>
        </div>
    </div>
</div>
<div id="education" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!--response column size based on screen size(12/size) -->
                <h4>Built with Sass</h4>
                <p> BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="~/images/sass.png" class="img-responsive" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4>Built with Sass</h4>
                <p>BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="~/images/less.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="fixed">
    <!-- need fixed image-->
</div>
<div id="projects" class="padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4>Here's the cool thing about Bootstrap...</h4>
                <p>BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLBLAH BLAH</p>
                <p>BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLBLAH BLAH</p>
            </div>
            <div class="col-sm-6">
                <img src="~/images/bootstrap2.png" />
            </div>
        </div>
    </div>
</div>