@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="home">
    <div class="landing-text">
        <h1>WELCOME TO MIN'S WORLD!</h1>
        <h3>Learn more about Min Choi.</h3>
        <a href="#" class="btn btn-default btn-lg">Get Started</a>
    </div>
</div>
<div id="about" class="padding">
    <!--maynot be need-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/images/bootstrap.png" />
            </div>
            <div class="col-sm-6 text-center">
                <h2>ALL ABOUT USING BOOTSTRAP.</h2>
                <p class="lead "> BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLBLAHBLAH </p>
                <p class="lead"> BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLBLAHBLAH </p>
            </div>
        </div>
    </div>
</div>
<div id="education" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!--response column size based on screen size(12/size) -->
                <h4>Built with Sass</h4>
                <p> BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="~/images/sass.png" class="img-responsive" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4>Built with Sass</h4>
                <p>BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="~/images/less.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div id="fixed">
    <!-- need fixed image-->
</div>
<div id="projects" class="padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3>BusBuzz Android App | October 2015</h3>
                <ul>
                    <li>Languages: Android Studio, Java</li>
                    <li>Fully user based android app that inform users about the status of UCSD bus stops</li>
                    <li>Implemented via Google Map API</li>
                    <li>Implemented backend via Parse Data Base</li>
                    <li>Lead the team members of six</li>
                </ul>
                <h3>Triton HTTP | January 2017</h3>
                <ul>
                    <li>Languages: C++</li>
                    <li>Implemented a simple non-blocking web server and client side</li>
                    <li>Implemented a subset of the HTTP/1.1 protocol specification</li>
                    <li>Implemented  using UNIX sockets API (sys/socket.h)</li>
                </ul>
                <h3>Triton Transfer Drop Box | March 2017</h3>
                <ul>
                    <li>Java, Apache Thrift</li>
                    <li>Implemented distributed file system using an RPC framework (Apache Thrift)</li>
                    <li>Implemented a protocol for block file transfer similar to Dropbox</li>
                    <li>Implemented fault tolerance system via gossip protocol, and read/write quorums</li>
                </ul>
                <h3>Triton Book Store Web | April 2017</h3>
                <ul>
                    <li>Languages: Java, JSP, JDBC, PostgreSQL, HTML, CSS, Bootstrap, JQuery, AJax</li>
                    <li>Implemented simple book shopping web-sites</li>
                    <li>Designed analytical database</li>
                </ul>

                <h3>ASP.NET Full Stack | WIP</h3>
                <ul>
                    <li>Languages: C#, ASP.NET MVC 5, Entity, HTML, Bootstrap, JQuery, Ajax, MSSQL, RESTful</li>
                    <li>Currently working on full-stack web development using .NET framework to learn new technology stack</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <img src="~/images/bootstrap2.png" />
            </div>
        </div>
    </div>
</div>